<h1>WikiBlog</h1>
<p>
  Have you ever wanted to write a blog entry on some strange topic that just caught your thoughts that day, but don't already have a blog? Just write it on WikiBlog, and publish it straight away. WikiBlog entries are editable by anyone[1], so you don't even have to be a great writer. You don't even have to finish writing it, just let someone else finish up. WikiBlog entries have permanent links to them, and can never be deleted[2]. Like most wiki-style ideas, WikiBlogs have an edit history, and credit both the original author as well as all subsequent editors[3]. Popular or highly-active entries may be featured on the WikiBlog landing page, and a search tool lets users find similar articles before posting their own. In fact, although anyone can post an article similar to one that already exists, this same search tool is invoked for the subject line and/or topics of new entries, before the user is given a new blank editor to work with.
</p><p>
	So this sounds like a wiki, redesigned to look like a blog. Well, yes, but it's more like a blog, redesigned to work like a wiki. You can still host a personal blog on WikiBlog - just click an authors name, and the only posts shown are that author's[4]. Alternatively, you can see everyone's posts on given topic - just click that topic.
</p><p>
	For readers, we build a customised home page feeding in the best articles from authors and topics you follow. For authors, we solve the audience problem for good - tag your posts with topics and they're shown to everyone interested immediately. Our aim is to build value for both sides of this equation, and to make WikiBlog the premier source of first hand opinions, information, and anecdotes.
</p><p>
<ol>
	<li>Of course, they don't have to be - authors can also 'lock' an entry forever.</li>
	<li>However, any editor/author can anonymise their input at any time. (But not revert once they've done so - if you don't want to be known for something controversial, you can't take credit later when it's become popular!)</li>
	<li>As long as they weren't anonymous, and the edits haven't been reverted.</li>
	<li>An author's blog posts are also available from a dedicated perma-link such as wikiblog.jugglethis.net/author/authorName/.</li>
</ol>
</p>