<footer class="footer">
  <small>
    <a href="/">WikiBlog</a>
    by Tom Allen
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Source Code", 'https://www.github.com/Schwolop/wikiblog' %></li>
    </ul>
  </nav>
</footer>